h1{
    text-align: center;
    color: crimson;
}

div{
    position: relative;/*se coloca según las cordenadas que se le indiquen y
                        los elementos se agregan de manera natural */
    top: 100px;
    left: 50px;
    max-width: 50%;
    border: 3px solid firebrick;
    margin: auto;
}